<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="todo-list">
    <form v-on:submit.prevent="addNewTodo">
        <label for="new-todo">Add New Todo</label>
        <input id="new-todo" v-model="newTodoText" placeholder="E.g. Feed the doge"/>
        <button>Add {{ addBtnName }}</button>
    </form>
    <ol>
        <li is="todo-item" v-for="(todo, index) of todos" v-bind:key="todo.id" :id="todo.id" :title="todo.title"
            v-on:remove="todos.splice(index, 1)"></li>
    </ol>
</div>

<script src="../../../js/vue-v2.5.16.js"></script>
<script src="../../../dist/core/computed_and_watch/todo-list.js"></script>
</body>
</html>