<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>

<div id="app">

</div>
<script src="../../js/vue-v2.5.16.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            products: [
                {
                    "id": 1,
                    "quantity": 0,
                    "name": "Banana"
                },
                {
                    "id": 2,
                    "quantity": 1,
                    "name": "Orage"
                },
                {
                    "id": 3,
                    "quantity": 2,
                    "name": "Apple"
                },
                {
                    "id": 4,
                    "quantity": 3,
                    "name": "Juce"
                }
            ]
        },
        computed: {
            totalQuantity () {
                return this.products.reduce((total, product) => {
                    return total + product.quantity
                }, 0)
            }
        },
        created () {
//            fetch('http://localhost:63342/vue/vue-pure/product-list.json?_ijt=ma0r3almdck285vu5r1c9nklt1')
//                .then(response => response.json())
//                .then(json => this.products = json.products);
        }
    });

    async function f() {
        return await 3+3;
    }
    console.log(f())
    f()
        .then(value => console.log(value))
        .then(value => console.log(value));
</script>

</body>
</html>